 .u-section-1 {
  background-image: url("images/IMG_20230619_080911_006.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 893px;
}

.u-section-1 .u-group-1 {
  width: 468px;
  min-height: 457px;
  background-image: none;
  margin: 90px auto 60px 0;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px 50px;
}

.u-section-1 .u-text-1 {
  font-size: 1.125rem;
  font-weight: normal;
  margin: 131px 0 0;
}

.u-section-1 .u-text-2 {
  font-weight: 700;
  font-family: "Playfair Display", serif;
  font-size: 3rem;
  margin: -294px 0 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 736px;
  }

  .u-section-1 .u-group-1 {
    width: 433px;
    min-height: 453px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 40px;
    padding-right: 40px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 127px;
  }

  .u-section-1 .u-text-2 {
    font-size: 2.75rem;
    margin-top: -290px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 603px;
  }

  .u-section-1 .u-group-1 {
    width: 326px;
    min-height: 426px;
    margin-top: 29px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 118px;
  }

  .u-section-1 .u-text-2 {
    font-size: 2.25rem;
    margin-top: -309px;
  }
}

@media (max-width: 767px) {
   .u-section-1 {
    background-position: 16.91% 100%;
    background-size: auto 115%;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 515px;
  }

  .u-section-1 .u-group-1 {
    width: 270px;
    min-height: 488px;
    margin-bottom: 48px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 157px;
  }

  .u-section-1 .u-text-2 {
    margin-top: -376px;
  }
}

@media (max-width: 575px) {
   .u-section-1 {
    background-position: 50% 50%;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 567px;
  }

  .u-section-1 .u-group-1 {
    width: 273px;
    min-height: 504px;
    margin-top: 32px;
    margin-bottom: 32px;
    margin-left: -38px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    font-weight: 700;
    margin-top: 138px;
  }

  .u-section-1 .u-text-2 {
    font-size: 1.875rem;
    margin-top: -366px;
    margin-bottom: 300px;
  }
} .u-section-2 {
  background-image: none;
  min-height: 485px;
}

.u-section-2 .u-shape-1 {
  width: calc(((100% - 1140px) / 2) + 820px);
  height: 496px;
  background-image: none;
  margin: -11px 0 0 auto;
}

.u-section-2 .u-layout-wrap-1 {
  width: 1140px;
  margin: -425px auto 60px;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 355px;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px;
}

.u-section-2 .u-text-1 {
  font-weight: 700;
  margin: 0;
}

.u-section-2 .u-line-1 {
  width: 100px;
  height: 3px;
  margin: 30px auto 0 0;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 100px;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px;
}

.u-section-2 .u-text-2 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 2;
  font-weight: normal;
}

@media (max-width: 1199px) {
   .u-section-2 {
    min-height: 498px;
  }

  .u-section-2 .u-shape-1 {
    width: calc(((100% - 940px) / 2) + 710px);
    height: 509px;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 940px;
    margin-top: -438px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 293px;
  }
}

@media (max-width: 991px) {
   .u-section-2 {
    min-height: 594px;
  }

  .u-section-2 .u-shape-1 {
    width: calc(((100% - 720px) / 2) + 600px);
    height: 605px;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 720px;
    margin-top: -534px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
   .u-section-2 {
    min-height: 608px;
  }

  .u-section-2 .u-shape-1 {
    width: calc(((100% - 540px) / 2) + 500px);
    height: 619px;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 540px;
    margin-top: -548px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 150px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 150px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
   .u-section-2 {
    min-height: 1422px;
  }

  .u-section-2 .u-shape-1 {
    height: 1433px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 340px;
    margin-top: -1362px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 122px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-2 .u-text-1 {
    width: auto;
    margin-right: -16px;
    margin-left: 10px;
  }

  .u-section-2 .u-line-1 {
    margin-left: 10px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 94px;
  }

  .u-section-2 .u-text-2 {
    font-weight: 700;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 1191px;
}

.u-section-3 .u-layout-wrap-1 {
  margin-top: 50px;
  margin-bottom: 50px;
}

.u-section-3 .u-image-1 {
  background-image: url("images/IMG-20230622-WA0136.jpg");
  min-height: 282px;
  background-position: 50% 50%;
}

.u-section-3 .u-container-layout-1 {
  padding-right: 10px;
}

.u-section-3 .u-layout-cell-2 {
  background-image: none;
  min-height: 174px;
}

.u-section-3 .u-container-layout-2 {
  padding: 0 0 30px;
}

.u-section-3 .u-text-1 {
  font-size: 1.5rem;
  margin: 0;
}

.u-section-3 .u-text-2 {
  font-weight: 700;
  margin: 20px 0 0;
}

.u-section-3 .u-layout-cell-3 {
  background-image: none;
  min-height: 734px;
}

.u-section-3 .u-container-layout-3 {
  padding: 0;
}

.u-section-3 .u-shape-1 {
  height: 734px;
  margin-top: -30px;
  margin-bottom: 0;
}

.u-section-3 .u-text-3 {
  font-size: 1.125rem;
  line-height: 1.8;
  width: auto;
  font-weight: 700;
  margin: -721px 28px 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1035px;
  }

  .u-section-3 .u-image-1 {
    min-height: 233px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 143px;
  }

  .u-section-3 .u-layout-cell-3 {
    min-height: 770px;
  }

  .u-section-3 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 758px;
  }

  .u-section-3 .u-image-1 {
    min-height: 178px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-3 .u-text-1 {
    font-size: 2rem;
  }

  .u-section-3 .u-layout-cell-3 {
    min-height: 741px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1473px;
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-bottom: -483px;
  }

  .u-section-3 .u-image-1 {
    min-height: 447px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 276px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-bottom: 50px;
  }

  .u-section-3 .u-layout-cell-3 {
    min-height: 655px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-top: 50px;
    padding-left: 55px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1191px;
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-bottom: 50px;
  }

  .u-section-3 .u-image-1 {
    min-height: 282px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 174px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-bottom: 30px;
  }

  .u-section-3 .u-text-1 {
    font-size: 1.5rem;
  }

  .u-section-3 .u-layout-cell-3 {
    min-height: 734px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-top: 0;
    padding-left: 0;
  }

  .u-section-3 .u-text-3 {
    margin-left: 28px;
    margin-right: 28px;
  }
} .u-section-4 {
  min-height: 1438px;
}

.u-section-4 .u-layout-wrap-1 {
  margin-top: 63px;
  margin-bottom: 60px;
}

.u-section-4 .u-layout-cell-1 {
  min-height: 433px;
}

.u-section-4 .u-container-layout-1 {
  padding: 30px 160px 30px 20px;
}

.u-section-4 .u-text-1 {
  font-size: 1.375rem;
  font-weight: 700;
  margin: 1px 0 0;
}

.u-section-4 .u-text-2 {
  font-style: normal;
  line-height: 2;
  font-weight: 400;
  margin: 19px 0 0;
}

.u-section-4 .u-layout-cell-2 {
  min-height: 567px;
}

.u-section-4 .u-container-layout-2 {
  padding: 30px 20px 30px 155px;
}

.u-section-4 .u-text-3 {
  font-size: 1.375rem;
  font-weight: 700;
  margin: 0;
}

.u-section-4 .u-text-4 {
  font-style: normal;
  line-height: 2;
  font-weight: 400;
  margin: 20px 0 0;
}

.u-section-4 .u-image-1 {
  background-image: url("images/ParentingForTheBenefitOfYourMarriage-OnlyYouForever.jpg");
  background-position: 50% 50%;
}

.u-section-4 .u-container-layout-3 {
  padding: 30px;
}

@media (max-width: 991px) {
  .u-section-4 .u-container-layout-1 {
    padding-right: 360px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 355px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-container-layout-1 {
    padding-right: 70px;
    padding-left: 10px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-right: 10px;
    padding-left: 70px;
  }

  .u-section-4 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
   .u-section-4 {
    min-height: 1342px;
  }

  .u-section-4 .u-layout-wrap-1 {
    margin-top: 120px;
    margin-bottom: 0;
  }

  .u-section-4 .u-container-layout-1 {
    padding-right: 50px;
  }

  .u-section-4 .u-text-2 {
    font-weight: 700;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 404px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 50px;
  }

  .u-section-4 .u-text-4 {
    font-weight: 700;
  }

  .u-section-4 .u-image-1 {
    min-height: 375px;
  }
} .u-section-5 {
  background-image: none;
}

.u-section-5 .u-sheet-1 {
  min-height: 1285px;
}

.u-section-5 .u-image-1 {
  width: 276px;
  height: 276px;
  background-image: url("images/IMG_20230619_080911_006.jpg");
  background-position: 50% 50%;
  margin: 92px auto 0 71px;
}

.u-section-5 .u-image-2 {
  width: 628px;
  height: 628px;
  background-image: url("images/Screenshot_20230627-012222.jpg");
  background-position: 50% 50%;
  margin: -308px 96px 0 auto;
}

.u-section-5 .u-image-3 {
  width: 389px;
  height: 389px;
  background-image: url("images/IMG-20230618-WA0001.jpg");
  background-position: 50% 50%;
  margin: -270px auto 0 156px;
}

.u-section-5 .u-shape-1 {
  width: 119px;
  height: 119px;
  margin: -419px auto 0 20px;
}

.u-section-5 .u-shape-2 {
  width: 250px;
  height: 250px;
  margin: 39px 69px 0 auto;
}

.u-section-5 .u-group-1 {
  min-height: 358px;
  margin-top: 71px;
  margin-bottom: 60px;
}

.u-section-5 .u-container-layout-1 {
  padding: 30px 50px;
}

.u-section-5 .u-text-1 {
  font-weight: 700;
  font-size: 3.75rem;
  font-family: "Playfair Display", serif;
  margin: 0;
}

.u-section-5 .u-text-2 {
  font-size: 1.25rem;
  font-weight: 500;
  margin: 20px 0 0;
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 1333px;
  }

  .u-section-5 .u-image-1 {
    margin-top: 62px;
    margin-left: 30px;
  }

  .u-section-5 .u-image-2 {
    width: 562px;
    height: 562px;
    margin-top: -210px;
    margin-right: 60px;
  }

  .u-section-5 .u-image-3 {
    width: 362px;
    height: 362px;
    margin-top: -211px;
    margin-left: 171px;
  }

  .u-section-5 .u-shape-1 {
    margin-top: -432px;
    margin-left: 52px;
  }

  .u-section-5 .u-shape-2 {
    width: 227px;
    height: 227px;
    margin-top: 7px;
    margin-right: 20px;
  }

  .u-section-5 .u-group-1 {
    margin-top: 147px;
    margin-bottom: -6px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 1476px;
  }

  .u-section-5 .u-image-1 {
    margin-left: 20px;
  }

  .u-section-5 .u-image-2 {
    margin-top: -26px;
    margin-right: 13px;
  }

  .u-section-5 .u-image-3 {
    margin-top: -205px;
    margin-left: 20px;
  }

  .u-section-5 .u-shape-1 {
    margin-top: -658px;
    margin-left: 13px;
  }

  .u-section-5 .u-shape-2 {
    margin-top: 245px;
    margin-right: 0;
  }

  .u-section-5 .u-group-1 {
    margin-top: 87px;
    margin-bottom: -190px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 1485px;
  }

  .u-section-5 .u-image-1 {
    margin-top: 68px;
    margin-left: 0;
  }

  .u-section-5 .u-image-2 {
    width: 488px;
    height: 488px;
    margin-top: 35px;
    margin-right: 0;
  }

  .u-section-5 .u-image-3 {
    width: 323px;
    height: 323px;
    margin-top: -175px;
    margin-left: -19px;
  }

  .u-section-5 .u-shape-1 {
    margin-top: -671px;
    margin-left: 0;
  }

  .u-section-5 .u-shape-2 {
    width: 167px;
    height: 167px;
    margin-top: 281px;
  }

  .u-section-5 .u-group-1 {
    margin-top: 125px;
    margin-bottom: -251px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-text-1 {
    font-size: 3rem;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 1241px;
  }

  .u-section-5 .u-image-1 {
    width: 280px;
    height: 280px;
    margin-top: 40px;
  }

  .u-section-5 .u-image-2 {
    width: 322px;
    height: 322px;
    margin-top: -37px;
    margin-right: -50px;
  }

  .u-section-5 .u-image-3 {
    width: 277px;
    height: 277px;
    margin-top: -53px;
    margin-left: -14px;
  }

  .u-section-5 .u-shape-1 {
    width: 73px;
    height: 73px;
    margin-top: -489px;
  }

  .u-section-5 .u-shape-2 {
    width: 101px;
    height: 101px;
    margin-top: 158px;
  }

  .u-section-5 .u-group-1 {
    margin-top: 139px;
    margin-bottom: 60px;
  }

  .u-section-5 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-5 .u-text-2 {
    font-size: 1rem;
    font-weight: 700;
  }
}.u-section-6 .u-sheet-1 {
  min-height: 958px;
}

.u-section-6 .u-layout-wrap-1 {
  margin: 50px auto 50px 0;
}

.u-section-6 .u-image-1 {
  background-image: url("images/IMG_20230611_143905_271.webp");
  min-height: 562px;
  background-position: 50% 50%;
}

.u-section-6 .u-container-layout-1 {
  padding-right: 30px;
}

.u-section-6 .u-layout-cell-2 {
  background-image: none;
  min-height: 326px;
}

.u-section-6 .u-container-layout-2 {
  padding: 0;
}

.u-section-6 .u-text-1 {
  font-size: 2.25rem;
  margin: 0;
}

.u-section-6 .u-text-2 {
  font-weight: normal;
  margin: 20px 0 0;
}

.u-section-6 .u-layout-cell-3 {
  background-image: none;
  min-height: 888px;
}

.u-section-6 .u-container-layout-3 {
  padding-left: 60px;
  padding-top: 60px;
}

.u-section-6 .u-shape-1 {
  height: 734px;
  margin-top: -30px;
  margin-bottom: 0;
}

.u-section-6 .u-text-3 {
  font-size: 1.125rem;
  line-height: 1.8;
  font-weight: 700;
}

@media (max-width: 1199px) {
  .u-section-6 .u-sheet-1 {
    min-height: 802px;
  }

  .u-section-6 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-6 .u-image-1 {
    min-height: 463px;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 269px;
  }

  .u-section-6 .u-layout-cell-3 {
    min-height: 770px;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-sheet-1 {
    min-height: 525px;
  }

  .u-section-6 .u-image-1 {
    min-height: 355px;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-6 .u-text-1 {
    font-size: 2rem;
  }

  .u-section-6 .u-layout-cell-3 {
    min-height: 741px;
  }

  .u-section-6 .u-container-layout-3 {
    padding-left: 30px;
    padding-top: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-sheet-1 {
    min-height: 1473px;
  }

  .u-section-6 .u-layout-wrap-1 {
    margin-bottom: -483px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-6 .u-image-1 {
    min-height: 447px;
  }

  .u-section-6 .u-container-layout-1 {
    padding-right: 10px;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 276px;
  }

  .u-section-6 .u-container-layout-2 {
    padding-bottom: 50px;
  }

  .u-section-6 .u-layout-cell-3 {
    min-height: 655px;
  }

  .u-section-6 .u-container-layout-3 {
    padding: 50px 0 0 55px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-sheet-1 {
    min-height: 1776px;
  }

  .u-section-6 .u-layout-wrap-1 {
    margin-bottom: 0;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-6 .u-image-1 {
    min-height: 472px;
    background-position: 50% 0%;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 366px;
  }

  .u-section-6 .u-container-layout-2 {
    padding-bottom: 30px;
  }

  .u-section-6 .u-text-1 {
    font-size: 1.5rem;
  }

  .u-section-6 .u-text-2 {
    font-weight: 700;
    width: auto;
  }

  .u-section-6 .u-layout-cell-3 {
    min-height: 968px;
  }

  .u-section-6 .u-container-layout-3 {
    padding-top: 0;
    padding-left: 0;
  }

  .u-section-6 .u-shape-1 {
    height: 954px;
    margin-top: -16px;
  }

  .u-section-6 .u-text-3 {
    width: auto;
    margin: -941px 28px 0;
  }
}